// nes-css specifics
.nes-adjust-radios {
  padding-top: 1.5rem !important;
}

.nes-pixelate-img {
  image-rendering: crisp-edges !important;
  image-rendering: pixelated !important;
}

.u-no-margins {
  margin: 0;
}
